.pointer {
  cursor: pointer;
}

.custom-bg-darkly {
  background-color: #4A4242;
}
@font-face {
    font-family: patricksc;
    src: url('./assets/fonts/PatrickHandSC-Regular.ttf');
}

html, body {
  background-color: #212529;
}